.aboutUsContainer {
    padding-inline: 10%;
    background-color: #F8F9FA;
    padding-block-start: 8em;
    padding-block-end: 6rem;

    >div {
        margin-block-start: 2rem;
    }

    >div:nth-child(1) {

        >div {
            margin-block-start: 1rem;
        }
    }

    >div:nth-child(2) {
        display: flex;
        position: relative;

        img {
            border: 10px solid #ffffff;

        }

        img:nth-child(2) {
            position: absolute;
            bottom: 12%;
            right: 0%;
            border: 10px solid #ffffff;
        }

        >div {
            position: absolute;
            top: 75%;
            left: 0%;
            width: fit-content;
            transform: translate(-20%, -50%);
            border: 2px solid #FFA801;
            display: flex;
            padding-inline: 4%;
            padding-block: 2%;
            color: #FFA801;
            background-color: #ffffff;

            h5 {
                padding-inline-start: 6%;
            }
        }
    }
}