.topbarContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 10%;
    background-color: #004D85;
    color: #ffffff;
    padding-block: 0.8%;

    .leftSide,
    .rightSide {
        display: flex;

        >div {
            display: flex;
            width: fit-content;
            padding-inline: 1rem;

            svg {
                margin-block: auto;
            }

            p {
                font-size: 0.8rem;
                padding-inline-start: 0.5rem;
                margin-block: auto;
            }

        }

        >div:nth-child(2) {
            border-inline: 2px solid #ffffff;
        }
    }

    .rightSide {

        >div:nth-child(3),
        >div:nth-child(4),
        >div:nth-child(5),
        >div:nth-child(6) {
            padding-inline-end: 0;
        }
    }


}