.homeContainer {
   position: relative;

   >div:nth-child(2) {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      margin: auto;

   }

   >div:nth-child(3) {
      padding-block-start: 10rem;
   }
}

@media screen and (max-width:480px) {
   .homeContainer {

      >div:nth-child(2) {
         top: 5.3%;
         width: 88%;

         >div {
            width: 100%;
         }

      }

      >div:nth-child(3) {
         padding-block-end: 2rem;
         margin-block-start: 32rem;
         padding-block-start: 5%;
      }
   }

}