.exploreAmenitiesContainer {
    padding-inline: 10%;
    padding-block: 5%;

    >div:nth-child(1) {
        margin-block-end: 2%;

        >div:nth-child(1) {
            text-align: center;
            margin: auto;
            width: 65%;
        }

        >div:nth-child(2) {
            display: none;
        }
    }
}

@media screen and (max-width:480px) {
    .exploreAmenitiesContainer{
        padding-inline: 6%;
        >div:nth-child(1) {
    
            >div:nth-child(1) {
                width: 100%;
            }

        }
        .exploreAmenitiesCards{
            display: flex;
            flex-direction: column;
            >div{
                width: 100%;
            }
        }
    }
    
}