.latestNewContainer {
    padding-inline: 10%;
    padding-block: 5%;
    background-color: #F8F9FA;

    >div:nth-child(1) {
        text-align: center;
        width: 65%;
        margin: auto;

        >div {
            display: none;
        }
    }

    .cardContainer {
        display: flex;
        justify-content: space-between;
        margin-block-start: 5%;

        .card {
            width: 31.5%;
        }
    }
}

@media screen and (max-width:480px) {
    .latestNewContainer {
        padding-inline: 6%;
        margin-block-start: 8%;
        padding-block-start: 8%;

        >div:nth-child(1){
            width: 100%;
        }
        .cardContainer{
            display: flex;
            flex-direction: column;
            .card{
                width: 100%;
                margin-block: 5%;
            }
        }
    }

}