.latestNewContainer {
    padding-inline: 10%;
    padding-block: 5%;
    background-color: #F8F9FA;

    >div:nth-child(1) {
        text-align: center;
        width: 65%;
        margin: auto;

        >div {
            display: none;
        }
    }

    .cardContainer {
        display: flex;
        justify-content: space-between;
        margin-block-start: 5%;

        .card {
            width: 31.5%;

        }
    }
}