.footerContainer {
    padding-inline: 10%;
    padding-block: 5%;
    background-image: linear-gradient(to left, #071F33, #061A2B);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h4 {
        color: #FFA801;
        margin-block-end: 2rem;
    }

    p {
        color: #ffffff;
        font-size: 0.9rem;
        padding-block: 0.28rem;
    }

    >div {
        width: 32%;
    }
}