.amenitiesCardContainer {
    text-align: center;
    padding: 10%;
    border: 1px solid #e5e5e5;

    svg {
        color: #FFA801;
    }

    h4 {
        margin-block-start: 1rem;
        color: #092741;
    }
}