.headingTextContainer {
    h4 {
        margin-block-end: 1.6rem;
        line-height: 2.8rem;
    }

    p {
        margin-block: 1rem;
    }

    >div {
        margin-block-start: 1.8rem;
    }
}