.topHotelsContainer {
    padding-inline: 10%;
    padding-block: 5%;
    background-color: #F8F9FA;

    >div {
        padding-block-end: 2%;
    }

    .hotelCards {
        // border: 1px solid yellow;
    }
}